{
  "presets": [
    "@babel/preset-env",
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    "inline-react-svg",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "transform-export-extensions",
    "@babel/plugin-proposal-export-default-from"
  ]
}
